.OrderItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid;
}

.OrderList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}